<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <header>
        {% block pagename %}

        {% endblock %}
    </header>

    <nav>
        {% block menu %}
        <h3><a href="/platform">Главная</a></h3>
        <p><h3><a href="/shop/">Магазин</a></h3></p>
        <p><h3><a href="/cart/">Корзина</a></h3></p>
        {% endblock %}
    </nav>

    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>
</html>